# ===== Visual Studio =====
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
Generated\ Files/
*.dbmdl
*.bak
*.backup
*.log
*.pdb
*.cache
*.ilk
*.idb

# ===== Rider / JetBrains =====
.idea/
*.DotSettings
*.DotSettings.user
*.ncrunch*
*.resharper*
_ReSharper*/
*.DotCover
*.dotCover

# ===== VS Code =====
.vscode/
*.code-workspace

# ===== .NET Core / .NET =====
project.lock.json
project.fragment.lock.json
artifacts/
*.userprefs
*.psess
*.vsp
*.vspx
*.sap
TestResults/
*.vsmdi
*.mdb
*.opendb
*.orig
*.ide

# ===== NuGet =====
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# ===== Windows Caches =====
Thumbs.db
ehthumbs.db
Desktop.ini

# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
*.mo
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
Pipfile.lock
.pytest_cache/
.mypy_cache/
.pytype/
cython_debug/

# ===== JS / Node / Frontend =====
node_modules/
yarn-error.log
package-lock.json
yarn.lock

# ===== Project Specific =====
dist/
dist-
